
.btn:hover{
    background-color:rgb(17, 215, 245);
    color: black;
    }
    
    #btn:hover{
        background-color: rgb(238, 244, 238);
        color: black;
    }
    .table th{
        background-color: grey;
    }
    .btnm-3{
        background-color: rgb(160, 77, 25);
    }
    

    .btn-success:hover {
        background-color: #28a745;
        border-color: #218838;
        color: white;
      }
      
      .btn-danger:hover {
        background-color: #dc3545;
        border-color: #c82333;
        color: white;
      }
      
    